<ul id='timeline'>
  <%@speeches.each_with_index do |speech, index|%>
    <li class='work'>
      <input class='radio' id='work<%= index+1 %>' name='works' type='radio' checked>
      <div class="relative">
        <label class="speechLabel" for='work<%= index+1 %>'><%= speech.name %> <span class="speaker"> Presenter:  <%=speech.speaker%></span></label>
        <span class="float-right"><%=speech.theme%></span>
        <span class='date'>9:00-10:00am</span>
        <span class='circle'></span>
      </div>
      <div class='content'>
        <p><%=speech.description%></p>
      </div>
    </li>
  <%end %>

</ul>
